# DEPRECATED - This file is for the old ASP.NET Core MVC deployment
# Please use azure-pipelines.yml for Azure Static Web App deployment

trigger:
- main

pool:
  vmImage: ubuntu-latest

variables:
  buildConfiguration: 'Release'

jobs:

# -------------------------
# Job 1: Restore
# -------------------------
- job: Restore
  displayName: 'Restore dependencies'
  steps:
  - checkout: self

  - task: UseDotNet@2
    displayName: 'Install .NET 8 SDK'
    inputs:
      packageType: 'sdk'
      version: '8.x'

  - script: dotnet restore PokedexTracker.csproj
    displayName: 'dotnet restore'

  - publish: $(System.DefaultWorkingDirectory)
    artifact: source
    displayName: 'Publish source for other jobs'


# -------------------------
# Job 2: Build
# -------------------------
- job: Build
  displayName: 'Build project'
  dependsOn: Restore
  steps:
  - checkout: self
  - download: current
    artifact: source

  - task: UseDotNet@2
    displayName: 'Install .NET 8 SDK'
    inputs:
      packageType: 'sdk'
      version: '8.x'

  - script: dotnet build PokedexTracker.csproj --configuration $(buildConfiguration)
    displayName: 'dotnet build'

  - publish: $(Build.SourcesDirectory)
    artifact: build_output
    displayName: 'Publish build output'


# -------------------------
# Job 3: Test
# -------------------------
- job: Test
  displayName: 'Run tests'
  dependsOn: Restore
  steps:
  - checkout: self
  - download: current
    artifact: source

  - task: UseDotNet@2
    displayName: 'Install .NET 8 SDK'
    inputs:
      packageType: 'sdk'
      version: '8.x'

  - script: dotnet test PokedexTracker.csproj --configuration $(buildConfiguration) --no-build
    displayName: 'dotnet test'


# -------------------------
# Job 4: Publish + Deploy
# -------------------------
- job: Deploy
  displayName: 'Publish and Deploy to Azure'
  dependsOn:
  - Build
  - Test
  steps:
  - checkout: self
  - download: current
    artifact: source

  - task: UseDotNet@2
    displayName: 'Install .NET 8 SDK'
    inputs:
      packageType: 'sdk'
      version: '8.x'

  - script: dotnet publish PokedexTracker.csproj --configuration $(buildConfiguration) -o $(Build.ArtifactStagingDirectory)
    displayName: 'dotnet publish'

  - task: AzureWebApp@1
    displayName: 'Deploy to Azure App Service'
    inputs:
      azureSubscription: 'AzureRM'
      appName: 'pokedextracker'
      package: '$(Build.ArtifactStagingDirectory)'