trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'
  project: 'PokedexTracker.csproj'
  publishDir: '$(Build.ArtifactStagingDirectory)/publish'

stages:

# ---------------- RESTORE ----------------
- stage: Restore
  jobs:
  - job: RestoreJob
    steps:
    - checkout: self

    - task: UseDotNet@2
      inputs:
        packageType: 'sdk'
        version: '8.0.x'

    - script: dotnet restore $(project)
      displayName: 'Restore dependencies'

# ---------------- BUILD ----------------
- stage: Build
  dependsOn: Restore
  jobs:
  - job: BuildJob
    steps:
    - checkout: self

    - task: UseDotNet@2
      inputs:
        packageType: 'sdk'
        version: '8.0.x'

    - script: dotnet build $(project) --configuration $(buildConfiguration) --no-restore
      displayName: 'Build project'

# ---------------- TEST ----------------
- stage: Test
  dependsOn: Restore
  jobs:
  - job: TestJob
    steps:
    - checkout: self

    - task: UseDotNet@2
      inputs:
        packageType: 'sdk'
        version: '8.0.x'

    - script: dotnet test $(project) --configuration $(buildConfiguration) --no-build
      displayName: 'Run tests'

# ---------------- PUBLISH + DEPLOY ----------------
- stage: Deploy
  dependsOn:
  - Build
  - Test
  jobs:
  - job: DeployJob
    steps:
    - checkout: self

    - task: UseDotNet@2
      inputs:
        packageType: 'sdk'
        version: '8.0.x'

    - script: dotnet publish $(project) -c $(buildConfiguration) -o $(publishDir)
      displayName: 'Publish app'

    - task: AzureWebApp@1
      inputs:
        azureSubscription: 'AzureRM'
        appName: 'pokedextracker'
        package: '$(publishDir)'
